{% extends "::layout.html.twig" %}

{% block title %}VMBQuizBundle:Note:show{% endblock %}

{% block body %}
<h1> {{'menu.my_quizzes'|trans}}</h1>
 <div class="container">
<div class="panel panel-default " >
  {% for elt in entities %}
    {% set list_quests = [] %}
    {% set note_totale_obtenue = 0 %}
    {% set note_totale = 0 %}
       {% set reponses = em.getRepository('VMBQuizBundle:QuestionNote').findAllByNoteId(elt.getId) %}
       {% for e in reponses %}
       {% set note_totale_obtenue = note_totale_obtenue + e.getNoteObtenue %}
       
       {% set entityQuest = em.getRepository('VMBQuizBundle:Question').findOneById(e.getQuestion.getId) %}
       {% if entityQuest != null %}
       {% set note_totale = note_totale + entityQuest.getNote %}
        {% endif %}
       
       {% endfor %}

<div class="panel-heading ">

  <div class="row" data-toggle="collapse" data-target="#demo_{{elt.getId}}">		
					<div class="col-md-4">{{'menu.presentation'|trans}} : <div> <img data-holder-rendered="true" src="{{ asset(elt.getPresentation.getThumbsPath) }}" style="height: 80px; width: 80px;" />
                                                               <br/>    {{ elt.getPresentation.getTitle }} </div> </div>
					<div class="col-md-3">Date : {{ elt.getDate|date('Y-m-d') }} </div>	
					<div class="col-md-3">Note :  {{ note_totale_obtenue }} / {{note_totale}} </div>	
                    <div> <em> {{'message.details'|trans}}</em></div>							
						
  </div>
  </div>

  <div id="demo_{{elt.getId}}" class="collapse" style="padding:20px;">
{% set i = 0 %}
{% dump(reponses) %}
{% for e in reponses %}
{% set i = i + 1 %}
{% set q = em.getRepository('VMBQuizBundle:Question').findOneById(e.getQuestion.getId) %}
{% if q != null %}
{% set note = q.getNote %}
{% endif %}
<div class="row">	
  				<div class="col-md-3"></div>	
					<div class="col-md-4">Question {{i}} : {% if q != null %} {{  q.getQuestion }} {% endif %} </div>
					<div class="col-md-3">Note : {{ e.getNoteObtenue }} /  {{note}}</div>	
						
  </div>
{% endfor %}

</div>

{% endfor %}
</div>
</div> 

{% endblock %}
