{% extends "::layout.html.twig" %}

{% block title %}VMBQuizBundle:Note:showNotesOwner{% endblock %}

{% block body %}
<h1> {{'menu.notes_for_this_presentation'|trans}}</h1>
<div class="container">
<div class="panel panel-default " >
  {% for elt in entities %}
  {% set presentations_noted = em.getRepository('VMBQuizBundle:Note').findAllByPresentation(elt.getId) %}
  {% if presentations_noted != null %}
   {% dump(presentations_noted)%}
<div class="panel-heading ">

  <div class="row" data-toggle="collapse" data-target="#demo_{{elt.getId}}">		
					<div class="col-md-4">{{'menu.presentation'|trans}} : <div> <img data-holder-rendered="true" src="{{ asset(elt.getThumbsPath) }}" style="height: 80px; width: 80px;" />
                                                               <br/>    {{ elt.getTitle }} </div> </div>
					<div class="col-md-3">Date : {{ elt.getDateCreation|date('Y-m-d') }} </div>	
                    <div> <em> {{'message.details'|trans}}</em></div>							
						
  </div>
  </div>

  <div id="demo_{{elt.getId}}" class="collapse" style="padding:20px;">

  {% for pres in presentations_noted %}
  {% set responses = em.getRepository('VMBQuizBundle:QuestionNote').findAllByNoteId(pres.getId) %}
  {% set note_totale_obtenue = 0 %}
  {% set note_totale = 0 %} 
  {% for e in responses %}
       {% set note_totale_obtenue = note_totale_obtenue + e.getNoteObtenue %}      
       {% set entityQuest = em.getRepository('VMBQuizBundle:Question').findOneById(e.getQuestion.getId) %}
       {% if entityQuest != null %}
       {% set note_totale = note_totale + entityQuest.getNote %}
       {% endif %}      
  {% endfor %}
  <div class="row">	
  				    <div class="col-md-3"></div>	
					<div class="col-md-4"> Username : {{ pres.getUser.getUsername }}  </div>
					<div class="col-md-3">Note : {{ note_totale_obtenue}} / {{note_totale}}  </div> 	
						
  </div>
  {% endfor %}

</div>

{% endif %}
{% endfor %}
</div>
</div> 

{% endblock %}
