<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {# force Internet Explorer to use the latest rendering engine available #}
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		{# mobile meta (hooray!) #}
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		{# icons & favicons (for more: http://www.jonathantneal.com/blog/understand-the-favicon/)  #}
		<link rel="apple-touch-icon" href="{{ asset('apple-icon-touch.png') }}">
		<link rel="icon" href="{{ asset('img/amb_favicon.png') }}">
		<!--[if IE]>
			<link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}">
		<![endif]-->
		
        <title>{% block title %}AMB{% endblock %}</title>
        {% block stylesheets %}
			<!-- Latest compiled and minified CSS -->
			
			<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
			<link rel="stylesheet" href="{{ asset('css/openSans.css') }}">
			<link rel="stylesheet" href="{{ asset('css/plyr.css') }}">
			<link rel='stylesheet' id='stylesheet-css'  href='{{ asset('css/style.css') }}' type='text/css' media='all' />
			<link rel='stylesheet' id='stylesheet-css'  href='{{ asset('css/flag-icon-css-master/css/flag-icon.min.css') }}' type='text/css' media='all' />
			
        {% endblock %}
        
        
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
		<header>
			<div class="header row container">
				<div class="header-actions" role="navigation">
					<div class="pull-right">
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							<div class="btn-group">
								<a title="{{ "menu.bookmark"|trans}}" class="btn btn-default" href="{{ path('caddy_show_presentation') }}">
									<span class="glyphicon glyphicon-star"></span>
								</a>
								<a title="{{ "user.profile"|trans}}" class="btn btn-default" href="{{path('fos_user_profile_show')}}">
									<span class="header-user">{{ app.user.username }}</span> 
								</a>
								<a title="{{ "menu.logout"|trans}}" class="btn btn-default" href="{{ path('fos_user_security_logout') }}">
									<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
								</a>
							</div>
						{% elseif is_granted("IS_AUTHENTICATED_ANONYMOUSLY") 
						and app.request.attributes.get('_route') ==  "fos_user_registration_register" %}
							{# Lien "deja inscrit? connectez-vous -> et show formulaire #}				
							<a class="btn btn-success" href="{{ path('fos_user_security_login') }}">{{ "menu.login"|trans }}</a>		
						{% else %}
						{% endif %}
						
						<div class="btn-group">
							<button type="button" class="btn btn-default">{{ app.request.getLocale|upper }}</button>
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu" role="menu">
								{% for locale in ['en', 'fr'] %}
									{% if app.request.getLocale != locale %}
										<li>    {#{% if app.request.attributes.get('id') is defined and app.request.attributes.get('id') is not null %}
                                                                                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : locale})) }}">
                                                                                        {% else %}
                                                                                            <a href="{{ path(app.request.get('_route'), app.request.query.all|merge({'_locale' : locale})) }}">
                                                                                        {% endif %}#}
                                                                                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : locale})) }}">
												<span class="flag flag-icon flag-icon-{% if locale == 'en' %}gb{% else %}fr{% endif %}"></span> {% if locale == 'en' %}English{% else %}Français{% endif %}
											</a>
										</li>
									{% endif %}
								{% endfor %}
								{% if is_granted('ROLE_ADMIN') %}
								<li role="presentation" class="divider"></li>
								<li><a href="{{ path('jms_translation_index') }}" target="_blank">{{ "menu.translation"|trans}}</a></li>
								{% endif %}
							</ul>
						</div>
						
						<div class="btn-group">
							<a title="{{ "menu.help"|trans}}" class="btn btn-default" data-toggle="modal" data-target="#modalContextualHelp">
								<span class="glyphicon glyphicon-question-sign"></span>
							</a>
						</div>
					</div>
				</div>
				<h3><a href="{{path('_welcome')}}"><img height="50px" src="{{ asset('img/logo_amb.jpg') }}" alt="AMB" title="{{ "menu.homepage"|trans}}" /></a></h3>
				
				
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<ul class="header-nav left" role="navigation">
					<li class="dropdown header-nav-item">
						<a data-toggle="dropdown" class="dropdown-toggle header-nav-link" href="#">{{ "menu.browse"|trans}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('vmb_presentation_browse') }}">{{ "menu.presentations"|trans}}</a></li>
                            <li><a href="{{ path('vmb_resource_browse') }}">{{ "menu.resources"|trans}}</a></li>
                            <li><a {#href="{{ path('vmb_forum_homepage') }}"#}>{{ "menu.forum"|trans}}</a>
                            	<ul>
                            		<li><a href="{{ path('vmb_forum_my_discussions') }}">{{ "menu.my_discussions"|trans}}</a></li>
                            		<li><a href="{{ path('vmb_forum_my_comments') }}">{{ "menu.my_comments"|trans}}</a></li>
                            	</ul>	
                            </li>
							<li><a href="{{ path('show') }}">{{ "menu.my_quizzes"|trans}}</a></li>
							{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %}
							<li><a href="{{ path('showNotesOwner') }}">{{ "menu.notes_presentation"|trans}}</a></li>
							{% endif %}
                        </ul>
					</li>
					<li class="dropdown header-nav-item">
						<a data-toggle="dropdown" class="dropdown-toggle header-nav-link" href="#">{{ "menu.manage"|trans}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">		
							{% if is_granted('ROLE_ADMIN') %}
								<li><a href="{{ path('topic') }}">{{ "menu.topics"|trans}}</a></li>
                            {% endif %}	
                            
							<li><a href="{{ path('matrix') }}">{{ "menu.matrixes"|trans}}</a></li>
							<li><a href="{{ path('vmb_presentation_browse', {'personal': 1}) }}">{{ "menu.presentations"|trans}}</a></li>	
							<li><a href="{{ path('vmb_resource_browse', {'personal': 1}) }}">{{ "menu.resources"|trans}}</a></li>
                            
                            {% if is_granted('ROLE_TEACHER') %}
								<li><a href="{{ path('vmb_resource_indexation') }}">{{ 'browse.multiple_indexation'|trans }}</a></li>
								<li><a href="{{ path('ontology_main') }}">{{ "menu.ontologies"|trans}}</a></li>
								<li><a href="{{ path('help') }}">{{ "menu.contextual_help"|trans}}</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
								<li><a href="{{ path('admin_user') }}">{{ "menu.users_management"|trans}}</a></li>
                            {% endif %}
                        </ul>
					</li>
				</ul>
				{# Formulaire de recherche #}
				<form class="top-search-form" accept-charset="UTF-8" action="{{path('vmb_search_action')}}" method="get">
					<input class="form-control search-input" name="query" placeholder="{{ "actions.search"|trans }}" type="text" {% if app.request.query.get('query') is defined %} value="{{app.request.query.get('query')}}"{% endif %}>
				</form>
				{% elseif is_granted("IS_AUTHENTICATED_ANONYMOUSLY")
				and app.request.attributes.get('_route') !=  ("fos_user_registration_register" or "_welcome") %} 
				<ul class="header-nav left" role="navigation">
					<a class="btn btn-success" href="{{ path('fos_user_registration_register') }}">{{ "user.register"|trans }}</a>
				</ul>
				{% elseif is_granted("IS_AUTHENTICATED_ANONYMOUSLY") 
					and app.request.attributes.get('_route') ==  "_welcome" %}
					{# Formulaire de connexion #}
					{% include 'VMBUserBundle::Security/tableLogin.html.twig' %}
				{% endif %}
			</div>
		</header>
      
		<div class="container main_body">
			{% if stripBodyHeader is not defined %}
			<h1 class="page-header" id="title">
				{% block h1_title %}{% endblock %}</h1>
			{% else %} {% block header %}{% endblock %}
			{% endif %}			
			{% for label, flashes in app.session.flashbag.all %}
				{% for flash in flashes %}
					<div class="alert alert-{{ label }}{{ alertDismissible|default(true) ? ' alert-dismissible' : '' }}">
						{% if (alertDismissible|default(true)) %}
							<button type="button" class="close" data-dismiss="alert" aria-label="{{ "actions.close"|trans }}"><span aria-hidden="true">&times;</span></button>
						{% endif %}
						{{ flash }}
					</div>
				{% endfor %}
			{% endfor %}
			{% block body %}{% endblock %}
		</div>
		<footer class="footer">
                            <div class="container">&copy; AMB 2016</div>
		</footer>
		
	<!-- Modal -->
	<div class="modal fade" id="modalContextualHelp" tabindex="-1" role="dialog" aria-labelledby="modalContextualHelpLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  {{ render(controller("VMBContextualHelpBundle:Help:help", {'route' : app.request.attributes.get('_route')})) }}
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">{{ "actions.close"|trans }} <span class="glyphicon glyphicon-remove"></span></button>
		  </div>
		</div>
	  </div>
	</div>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
{% block script %}
<script src="{{asset('bundles/vmbforum/ckeditor/ckeditor.js')}}"></script>
<script src="{{asset('js/jquery.min.js')}}"></script>
<script src="{{asset('js/jquery-ui.js')}}"></script>
<script src="{{asset('js/bootstrap.min.js')}}"></script>
{% if hasPlaybackFunction is defined %}			
<script>
	// Plyr utilities
	(function(d, u){
		var a = new XMLHttpRequest(),
			b = d.body;

		// Check for CORS support
		// If you're loading from same domain, you can remove the if statement
		if("withCredentials" in a) {
			a.open("GET", u, true);
			a.send();
			a.onload = function(){
				var c = d.createElement("div");
				c.style.display="none";
				c.innerHTML = a.responseText;
				b.insertBefore(c, b.childNodes[0]);
			}
		}
	})(document, "https://cdn.plyr.io/1.1.5/sprite.svg");
</script>
<script src="https://cdn.plyr.io/1.1.5/plyr.js"></script>
<script>
	// Setup the player
	plyr.setup({
		{% if app.request.get('_route') == 'presentation_show' %}
		click: 	false,
		controls: ["current-time", "duration", "mute", "volume"],
		{% endif %}
		title: 	"Media player",
		captions: {
			defaultActive: false
		},
		onSetup: function() {
			var player 	= this,
				type 	= player.media.tagName.toLowerCase(),
				toggle 	= document.querySelector("[data-toggle='fullscreen']");

			console.log("✓ Setup done for <" + type + ">");

			if(type === "video" && toggle) {
				toggle.addEventListener("click", player.toggleFullscreen, false);
			}
		}
	});
	$( ".showAll" ).click(function() {
		if($(this).hasClass('collapsed')) {
			$(this).removeClass('collapsed');
			$(this).html($(this).attr('data-prototype'));
		}
		else {
			$(this).addClass('collapsed');
			$(this).html('...');
		}
	});
</script>
{% endif %}
{% if pathWithoutKeyword is defined %}
	<script>
	$(document).ready(function(){
		$(".top-search-form").on("input", function(evt){
			if($(this).find(":input").val() == ""){ 
				// input was cleared by user
				window.location = "{{pathWithoutKeyword}}";
			}
		});
	});
	</script>
{% endif %}
{% endblock %}

<script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){

  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),

  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74035140-1', 'auto');

  ga('send', 'pageview');

</script>

<script>
    
    /* setting current and previous URLs as cookies */
    var url = document.URL;
    document.cookie = "currentURL="+url;
    
</script>





</body>
</html>
