{% spaceless %}<li class="list-group-item row">
    <div class="col-md-6"><a href="/resource/show/{id}" title="{titleLongResource}"></span>{title}</a></div>
	<div class="col-md-2 text-center"><span class="glyphicon glyphicon-{glyphicon}"></div>
    <div class="col-md-2 text-center">{duration}</div>
    <div class="col-md-2 text-center">				
		<div class="btn-group" role="group" aria-label="...">
			<a href="/resource/edit/{id}" type="button" class="btn btn-default" title="{{"resource.edit"|trans}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
			<a href="#" type="button" class="btn btn-default" title="{{"resource.index"|trans}}"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span></a>					
			<a href="/resource/delete/{id}" type="button" class="btn btn-default" title="{{"resource.delete"|trans}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>					
		</div>
		
	</div>
</li>{% endspaceless %}