{% extends '::layout.html.twig' %}

{% block h1_title %}
    	<div class="text-center">{{"homepage.title"|trans|raw}}</div>
{% endblock %}

{% block body %}
<style> 
.btn_search {
  width: 250px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
  transition: width 0.4s ease-in-out;
}
.btn_search:focus {
  width: 30%;
}
.search_categories{
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  background-color: white;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-radius: 4px;
    transition: width 0.4s ease-in-out;

  overflow: hidden;
  position: relative;
}

.search_categories .select{
  width: 120%;
  background:url('arrow.png') no-repeat;
  background-position:80% center;
}

.search_categories .select select{
  background: transparent;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 120%;
  position: relative;
  z-index: 10;
  font-size: 1em;
}
</style>
<div class="row">
<h4 class="col-md-6">
	<p>{{"homepage.presentation_paragraph_1"|trans}}
		<ul>
			<li>{{"homepage.presentation_paragraph_1_1"|trans}}</li>
			<li>{{"homepage.presentation_paragraph_1_2"|trans}}</li>
			<li>{{"homepage.presentation_paragraph_1_3"|trans}}</li>
		</ul>
	</p>
	<p>{{"homepage.presentation_paragraph_2"|trans}}</p>
	<p class="text-right text-primary"><a href="#title" onclick="javascript:$('#expandContent').show();$(this).hide()" ><small>{{"homepage.read_more"|trans}}</small></a></p>
</h4>
<div class="col-md-6">
	<img src="{{asset("img/landingPageArt.jpg")}}" width="460px" height="325px">
</div>
</div>
<div id="expandContent" style="display: none;">
	<p>{{"homepage.presentation_paragraph_3"|trans}}
		<ul>
			<li>{{"homepage.presentation_paragraph_3_1"|trans}}</li>
			<li>{{"homepage.presentation_paragraph_3_2"|trans}}</li>
			<li>{{"homepage.presentation_paragraph_3_3"|trans}}</li>
		</ul>
	</p>
	<p>{{"homepage.presentation_paragraph_4"|trans}}</p>
	<p>{{"homepage.presentation_paragraph_5"|trans}}</p>
</div>
{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<p class="text-center">
	<a class='btn btn-success btn-lg' href="{{path("fos_user_registration_register")}}">{{"homepage.sign_up"|trans}}
	</a>	
</p>
{% endif %}

    	
{% endblock %}
