/* Space out content a bit */
body {
	padding-bottom: 20px;
	font-family: 'Open Sans';
	background-color: #2C2C2C;
	width: 100%;
	height: 100%;
}
html { width: 100%; height: 100%; }

/* Home page style */

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	height: 500px;
	margin-bottom: 60px;
	margin-left: -15px;
	margin-right: -15px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 500px;
	background-color: #777;
}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}
.marketing h2 {
	font-weight: normal;
}
.marketing .col-lg-4 p {
	margin-right: 10px;
	margin-left: 10px;
}
h5{
	font-size: 12.5px;
}

/* Featurettes
------------------------- */

.featurette-divider {
	margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

/* END of homepage style */

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-right: 15px;
	padding-left: 15px;
}

/* Custom page header */
header {
	background-color: #fff;
	padding-top: 14px;
	border-bottom: 1px solid #e5e5e5;
}

.header {
	margin: auto;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {	
	float: left;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 36px;
	text-align: center;
	margin-top: -4px;
	margin-right: 16px;
	opacity: 0.85;
}

.header h3:hover { opacity:1; }

.top-search-form {
	float: left;
	width: 360px;
}

.search-input {
	font-size: 12px;
	height: 28px;
	padding: 4px 20px 4px 8px;
	margin-top: 3px;
	width: 256px;
}
.search-input- {
	font-size: 12px;
	height: 28px;
	padding: 4px 20px 4px 8px;
	margin-top: 3px;
	width: 200px;
	height: auto; 
	border: 2px solid #ccc;
	border-radius: 4px;
}
.type_style {
	font-size: 12.2px;

}
.type_style_search{
	width: 10px;
	height: 10px;
}
.header-nav {
	float: left;
	padding: 0px 10px;
	margin: 0px;
	height: 42px;
}

.header-actions {
	float: right;
}

.header-nav {
	list-style: outside none none;
}

.header-nav-item {
	float:left;
}

.header-nav-link {
	display: block;
	padding: 4px 8px 12px 8px;
	font-size: 13px;
	font-weight: bold;
	line-height: 26px;
	color: #333;
}

.dropdown:hover .dropdown-menu {
    display: block;
 }
 
 .dropdown-menu {
    margin: 0px 0px 0px;
    border-radius: 0px;
}

/* Custom page footer */
.footer .container {
	padding-top: 0px;
	color: #fff;
	text-align: right;
}

.main_body {
	background-color: #fff;
	margin-top: 16px;
	margin-bottom: 16px;
}

.main_body h1.page-header {
	margin-top: 16px;
}

/* Customize container */
@media (min-width: 768px) {
	.container {
		width: 980px;
	}
}
.container-narrow > hr {
	margin: 30px 0;
}


.panel-heading .row, .list-group-item.row {
	padding: 0px 12px;
}

.list-group-item.row {
    background-color: #FFF;
    margin: 0px 0px -1px;
}

.list-group-item.row [class^="col-"] {
    box-sizing: border-box;
    height: 50px;
    padding: 6px;
    line-height: 38px;
    font-size: 16px;
}

.list-group-item.row [class^="col-"] a {
    color: black;
    display: inline-block;
    width: 100%;
}
.list-group-item.row [class^="col-"] a[type="button"] {
    display: inline;
    width: auto;
}
.list-group-item.row [class^="col-"] a:hover {
    text-decoration: none;    
}

.list-group-item.row [class^="col-"] a.switch-public, .list-group-item.row [class^="col-"] a.switch-private {
	color: white;
}

.switch .hidden-value { display: none; }
.switch:hover .hidden-value, .switch:focus .hidden-value { display: inline; }
.switch:hover .shown-value, .switch:focus .shown-value { display: none; }
.switch-public:hover .hidden-value, .switch-private:hover .hidden-value { display: inline; }
.switch-public:hover .shown-value, .switch-private:hover .shown-value { display: none; }

.list-group-item.row [class^="col-"] a[type="button"].switch-public, .list-group-item.row [class^="col-"] a[type="button"].switch-private {
	width: 84px;
    display: inline-block;
}

.switch-public {
	background-color: #5CB85C;
	border-color: #4CAE4C;
}
.switch-public:hover {
	background-color: #C9302C;
	border-color: #AC2925;
}
.switch-private {
	background-color: #C9302C;
	border-color: #AC2925;	
}
.switch-private:hover {
	background-color: #5CB85C;
	border-color: #4CAE4C;
}

.showAll {
	cursor: pointer;
}
.showAll.collapsed {
	color: #337AB7;
}

#matrix td ul {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}

.modal-backdrop {
	position: fixed;
	top: 0px;
}

.loading_indicator, .loading_indicator_inline {
	width:16px;
	height:16px;
	display: none;
	background-image: url('../img/ajax-loader.gif');
}

.loading_indicator {
	position: absolute;
	top: 49%;
	left: 49%;
	background-image: url('../img/loading.gif');
}

#matrix {
	margin: auto;
}

#matrix tr.compact_tr {
	height: auto;
}

#matrix th {
	vertical-align: middle;
	background-color: #F5F5F5;
	border: 1px solid #fff;
}

#matrix tr td {
	padding: 0px;
	height: 100%;
	background-color: #f8f8f8;
	border: 1px solid #ddd;
}

#matrix tr:first-child th {
	border-color: #fff #ddd #ddd #ddd;
}

#matrix tr:first-child th:last-child, #matrix tr td:last-child {
	border-color: #fff #fff #ddd #ddd;
}

#matrix tr th {
	border-color: #ddd #ddd #ddd #fff;
}

#matrix tr:first-child th:first-child {
	border-color: #fff #ddd #ddd #fff;
}

#matrix tr:last-child th, #matrix tr:last-child td {
	border-bottom-color: #fff;
}

#matrix .tdOvered {
	background-color: #FFBD70;
}

.usedResource, .usedResource .resThumbnailHover, .tileUsedResource {
	width: 100%;
	height: 100%;
	background-size: cover;
	position: relative;
}

.tileContent {
	display: none;
}

.enableSort {
	display: block;
	clear: both;
	width: 100%;
	height: 16px;
	text-align: center;
	line-height: 32px;
	cursor: pointer;
}
.enableSort.hidden {
	display: none;
}

.sortableResources {
	height: 66px;
}

.tileUsedResource .nbResources {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.20);
	color: white;
	text-align: center;
	cursor: pointer;
}
.tileUsedResource .nbResources:hover, .tileUsedResource.activeTile .nbResources { background-color: rgba(0,0,0,0.80); }

.tileUsedResource .nbResources.noBg {
	cursor: default;
	background: transparent;
}

.tileUsedResource.ui-state-highlight .nbResources, .tdOvered .tileUsedResource .nbResources {
	background-color: rgba(252, 152, 52, 0.6);
}

.tileUsedResource .nbResources .total {
	position: absolute;
	line-height: 20px;
	font-size: 20px;
	width: auto;
	background: rgba(0,0,0, 0.7);
	top: 0px;
	left: 0px;
	margin-top: 0px;
	padding: 4px;
	text-align: center;
	height: 28px;
}

.tileUsedResource .nbResources .counterCheck {
	text-align: center;
	position: absolute;
	right: 0px;
	width: 36px;
	padding: 3px 0px;
	background-color: rgba(0,0,0,0.7);
}

.tileUsedResource .nbResources .counterCheck.copyMode {

}

#matrix .popover {
	max-width: none;
}

#matrix .popover-content {
	padding: 12px 12px 12px 8px;
}

#matrix .popover-content .usedResource {
	display: block;
	width: 120px;
	height: 66px;
	margin-left: 4px;
	float: left;
}

.resThumbnailHover .resTitle {
	display: block;
	width: 100%;
	margin: auto;
	background-color: rgba(0,0,0,0.7);
	padding: 0px 12px 0px 12px;
	color: white;
	font-size: 11px;
}
.usedResource.ui-state-highlight .resThumbnailHover {
	background-color: rgba(252, 152, 52, 0.6);
}

.resThumbnailHover .resCheckBox {
	display: block; 
	position: absolute;
	bottom: 0px;
	right: 0px;
	
	height: 22px;
	line-height: 22px;
	padding: 0px 4px;
	
	background-color: rgba(0,0,0,0.7);
}

.checkedRes .user-glyphicon, .glyphicon.checkedRes {
	color: #0BB700;
}
.suggestedRes .resCheckBox .user-glyphicon, .glyphicon.suggestedRes {
	color: #FF9D22;
}
.glyphicon.teacherRes {
	color: #EFEFEF;
}

.presentation-legend i {
	display: inline-block;
	padding: 6px;
	color: white;
	background-color: #333;
}


.list-group .list-group-item.row:nth-child(2n) {
	background-color: #f7f7f7;
}

.list-group .list-group-item.row:hover {
	background-color: #f3f3f3;
}


.list-group .list-group-item.row[data-level="0"] 	{ background-color: #fff; }
.list-group .list-group-item.row[data-level="1"] 	{ background-color: #fbfbfb; }
.list-group .list-group-item.row[data-level="2"] 	{ background-color: #f8f8f8; }
.list-group .list-group-item.row[data-level="3"] 	{ background-color: #f4f4f4; }
.list-group .list-group-item.row[data-level="4"] 	{ background-color: #efefef; }
.list-group .list-group-item.row[data-level="5"] 	{ background-color: #ebebeb; }
.list-group .list-group-item.row[data-level="6"] 	{ background-color: #e8e8e8; }
.panel-collapse			{ border-left: 1px solid #ddd; }
.panel-collapse > ul 	{ border-left: 12px solid #fff; }
.list-group .list-group { margin-bottom: 0px; }
.list-group .list-group .list-group-item:first-child { border-radius: 0px; }

#file_list, #presentation_options {
	overflow-y: auto;
	max-height: 320px;
	border: 1px solid #DDD;
	border-radius: 4px;
}

#file_list .list-group-item, #presentation_options .list-group-item {
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
}

#file_list .list-group-item:first-child, #presentation_options .list-group-item:first-child {
	border-top: 0px;
}
#file_list .list-group-item:last-child, #presentation_options .list-group-item:last-child {
	border-bottom: 0px;
}

#presentation_options .list-group-item.active, 
#presentation_options .list-group-item.active:focus, 
#presentation_options .list-group-item.active:hover {
    border-color: #fff;
}

#browse_file .panel {
	border-radius: 0px 0px 4px 4px;
	height: 400px;
	overflow-y: auto;
}

#browse_file .panel-heading {
	border-radius: 0px;
	border-bottom: 1px solid #ddd;
	padding: 0;
}

#browse_file .nav-tabs {
	border:0px;
}

#browse_file .panel-title-link {
	display: inline-block;
	width: 100%;	
	outline: 0px;
	padding: 10px 15px;
}
#browse_file .panel-title-link:hover, #browse_file .panel-title-link:focus {
	text-decoration: none;
}

.wide-btn {
	width: 250px;
}

.block-browse .thumbnail-description {
	display:none;
	opacity: 0;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}

.block-browse .thumbnail-description:hover { opacity: 1; }

.block-browse:hover .thumbnail-description {
	display: block;
	position: relative;
	top: -4px;
	left: -4px;
	height: 159px;
	overflow: hidden;
	margin-bottom: -159px;
	width: calc(100% + 8px);
	background: rgba(0, 0, 0, 0.8);
	padding: 0px 8px 8px 8px;
	color: white;
}

.block-browse { overflow: hidden; }

.block-browse .thumbnail-description hr, .block-browse .thumbnail-description h4 {
	margin-top: 6px;
	margin-bottom: 6px;
}
.block-browse .thumbnail-description h4 {
	height: auto;
	text-align: center;
}

.thumbnail-link:hover {
	text-decoration:none;
}

select[multiple="multiple"] {
	min-height: 200px;
}

.browse-topics {
	background-color: #ddd;
	padding: 12px 12px 12px 12px;
}

.browse-topics ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.browse-topics .row {
	margin: 0px;
}

.browse-topics .row.filter {
	margin: 10px 0px;
}

.browse-topics .row.tools {
	line-height:28px;
}

.browse-topics h3 {
	text-align: center;
	margin-top: -4px;
}

.browse-topics [class^="col-"] {
	padding: 0px;
	font-size: 12px;
        margin-right:4px;
        word-wrap:break-word;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        display: block;
        max-width:100px;
}

.browse-topics .panel-collapse, #browse_file .panel-collapse			{ border-left: 0px; }
.browse-topics .panel-collapse > ul, #browse_file .panel-collapse > ul 	{ border-left: 0px; }

.resource-col {
	padding: 2px;
}

.resource-col p {
	cursor: pointer;
	margin: 0px;
	padding: 4px 8px;
}

.view-more-title a {
	color: black;
}
.view-more-title a:hover {
	text-decoration: none;
}
.view-more-title .glyphicon {
	top: 4px;
}

#presentation_player {
	background-color: black;
	min-height:350px;
	min-width: 623px;
	position: relative;
	font-size: 24px;
}

#presentation_player:-webkit-full-screen	{ width: 100%; height: 100%; font-size: 72px; }
#presentation_player:-moz-full-screen		{ width: 100%; height: 100%; font-size: 72px; }
#presentation_player:-ms-full-screen		{ width: 100%; height: 100%; font-size: 72px; }
#presentation_player:-o-full-screen			{ width: 100%; height: 100%; font-size: 72px; }
#presentation_player:full-screen			{ width: 100%; height: 100%; font-size: 72px; }

#presentation_player .image_player, 
#presentation_player .video_player, 
#presentation_player .audio_player,
#presentation_player .file_player {
	position: relative;
	min-height:350px;
	min-width: 623px;
}

#presentation_player .image_player img, 
#presentation_player .audio_player .player-controls,
#presentation_player .file_player iframe {
	position: absolute;
	display: block;
}

#presentation_player .audio_player {
	height: 100%;
	background-image: url('../img/icon/audio_file.png');
	background-size: 50% 80%;
	background-position: center center;
	background-repeat: no-repeat;
}

#presentation_player .audio_player .player-controls {
	bottom:-48px;
	width: 100%;
	height: 58px;
}

#presentation_player .player-controls {
	z-index: 100;
}

#presentation_player iframe {
	min-height:350px;
	min-width: 623px;
}

#annotations_container {
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#annotations_container .annotation {
	position: relative;
}

#players_container {
	min-height:445px;
}

#players_container.fullScreenPlayer {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	z-index: 1000;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

#players_container.fullScreenPlayer img {
	max-height: 100%;
}

#players_container.fullScreenPlayer a {
	display: none;
}

.player-video {
	background-color: #eee;
}

#players_container.fullScreenPlayer .image_player, #players_container.fullScreenPlayer .file_player {
	width: 90%;
	margin: auto;
	margin-top: 5%;
	max-height: 90%;
}

#players_container.fullScreenPlayer .file_player {
	height: 80%;
}

#players_container.fullScreenPlayer .file_player iframe {
	width: 100% !important;
	height: 100% !important;
}

.block-browse {
	height: 249px;
}

.block-presentation-official img {
	border-top: 4px solid #FF6225;	
}
.block-presentation-default img {
	border-top: 4px solid #FFE525;	
}
.block-presentation-private {
	background-color: #e8e8e8;
}

.block-browse h3.thumbnail-label {
	font-size: 14px;
	margin: 0px;
	height: 31px;
}

.block-browse .duration {
	float: left;
	line-height: 34px;
	padding-left: 9px;
	width: 25%;
}

.block-browse .caddy-icon {
	float: left;
	width: 75%;
	text-align: right;
	padding-right: 0px;
}

.presentationResource { 
	background-color: white;
}
.suggestionResource {
	background-color: #EFEFEF;
}
.complementResource {
	background-color: #DFDFDF;
}

input[type="file"].form-control { height: auto; }

.popover-routes {
	min-width: 300px;
}

li.list-group-item.row .form-control {
	margin-top: 2px;
}

.timeline {
	height: 32px;
	position: relative;
}

.timeline_res {
	float: left;
	height: 32px;
	border-right: 1px solid black;
	background-color: #35A1FF;
}

.timeline .timeline_res:first-child {
	border-radius : 16px 0px 0px 16px;
}
.timeline .timeline_res:last-child {
	border-radius : 0px 16px 16px 0px;
}

.annotations {
	position: relative;
	margin-top: 12px;
}

.timeline_annot, .timeline_annot_edited {
	position: absolute;
	display: block;
	height: 12px;
	background-color: #C8C8C8;
}
.timeline_annot_audio {
	background-color: #696969;
}
.timeline_annot_current {
	background-color: #f00;
}

.timeline_annot_edited {
	position: relative;
	background-color: #ff0000;
	width: 0px;
	top: -22px;
}

.form-annotation .form-group {
	margin-left:0px;
	margin-right:0px;
}

.annotation-position {
	width: 65%;
	display: inline;
}

.box-position-selector { 
	width: 133px; 
	height: 133px; 
	position: relative;
	left: 50%;
	margin-left: -67px;
}

.selector-x, .selector-y {
	background-color: #8E8E8E;
	position: absolute;
	border-radius: 90px;
}

.selector-x {
	width: 100%;
	height: 15px;
	top: 50%;
	margin-top: -7px;
}

.selector-y {
	height: 100%;
	width: 15px;
	left: 50%;
	margin-left: -7px;
}

.selector-x-pos, .selector-y-pos {
	display: block;
	position: relative;
	background: red;
	z-index: 100;
}

.selector-x-pos {
	width: 3px;
	height: 100%;
	margin-left: -1px;
	left: 50%;
}

.selector-y-pos {
	height: 3px;
	width: 100%;
	margin-top: -1px;
	top: 50%;
}

.box-position {
	background-color: #e8e8e8;
	border: 1px solid black;
	width: 237px;
	height: 133px;
	padding: 0px;
}

.text-position {
	display: block;
	background: red;
	height: 3px;
	width: 3px;
	position: relative;
	top: 50%;
	left: 50%;
	margin-left:-1px;
	margin-top:-1px;
}

.affichageNombreTotal{
    display: inline-block;
    color:#16344f; 

}

.total {
    opacity: 0.4;
    display: inline; 
}

.accessible {
    font-weight: bold;
    display: inline; 
}

.est-parent {
    display: inline;
}

.explication {
    display :inline;
    font-size: xx-small;
}
section{
	padding: .5vw;
	display : flex;
	justify-content: center;
	flex-wrap: wrap;
.media{
	min-width: 0;
	margin : 5px;
	}
.btn_search{  width: 130px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url('../img/icon/searchicon.png');
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}
.focus {
  width: 100%;
}
.centre {
text-align:center;
}
.right {
	text-align:right;
	}


// /!\ CETTE REGLE N'EST PAS CONVENABLE! /!\ Je l'ai donc commentée.

/*img{
    width:100%;
    max-width:600px;
}*/
