{% extends '::layout.html.twig' %}
{% block h1_title %}
	<div class="row">
		<div class="col-md-9">
			{{ mainTitle }}
		</div>
		<div class="col-md-3 text-right">
			<a class="btn btn-default" data-toggle="modal" data-target="#modalAddPresentation">
				{{"actions.create" | trans }} &nbsp;<span class="left glyphicon glyphicon-plus" aria-hidden="true"></span>
			</a>
		</div>
	</div>
{% endblock %}
{% if page == 1 and (nbPages == 0 or nbPages == 1) %}
	{% set skipPagination = true %}
{% endif %}
{% block body %}
	<div class="row">
		<div class="col-md-3">
			<div class="browse-topics">
				<h3>{{ 'browse.parameters_title'|trans }}</h3>
				<hr/>
				<h4>{{ 'browse.filters'|trans }}</h4>
				<div class="row filter">
					<div class="col-md-10">{{ 'browse.default_presentations'|trans }} </div>
					<div class="col-md-2 text-right">
						<a href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'default':((app.request.get('default') + 1) % 2)|default(1)})) }}" class="switch">
							{% if app.request.get('default')|default(0) == 0 %}
								<span class="hidden-value glyphicon glyphicon-ok checkedRes"></span>
								<span class="shown-value glyphicon glyphicon-minus"></span>
							{% else %}
								<span class="shown-value glyphicon glyphicon-ok checkedRes"></span>
								<span class="hidden-value glyphicon glyphicon-minus"></span>
							{% endif %}
						</a>
					</div>
				</div>
				<div class="row filter">
					<div class="col-md-10">{{ 'browse.official'|trans }} </div>
					<div class="col-md-2 text-right">
						<a href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'official':((app.request.get('official') + 1) % 2)|default(1)})) }}" class="switch">
							{% if app.request.get('official')|default(0) == 0 %}
								<span class="hidden-value glyphicon glyphicon-ok checkedRes"></span>
								<span class="shown-value glyphicon glyphicon-minus"></span>
							{% else %}
								<span class="shown-value glyphicon glyphicon-ok checkedRes"></span>
								<span class="hidden-value glyphicon glyphicon-minus"></span>
							{% endif %}
						</a>
					</div>
				</div>
				<div class="row filter">
					<div class="col-md-10">{{ 'browse.personal_presentation'|trans }} </div>
					<div class="col-md-2 text-right">
						<a href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'personal':((app.request.get('personal') + 1) % 2)|default(1)})) }}" class="switch">
							{% if app.request.get('personal')|default(0) == 0 %}
								<span class="hidden-value glyphicon glyphicon-ok checkedRes"></span>
								<span class="shown-value glyphicon glyphicon-minus"></span>
							{% else %}
								<span class="shown-value glyphicon glyphicon-ok checkedRes"></span>
								<span class="hidden-value glyphicon glyphicon-minus"></span>
							{% endif %}
						</a>
					</div>
                                </div>                                            
				
				<h4>{{ 'table.topic'|trans }}</h4>
                                <div class="affichageNombreTotal">{{ 'menu.presentations'|trans }}
                                    <div class="accessible"> [{{totalVisible}}]
                                    </div>
                                    <div class="total"> ({{totalPresentations}})
                                    </div>  
                                </div>
				{% include "VMBPresentationBundle:Presentation:topicLink.html.twig" with {'links': topics, 'current': topic.id|default(null)} %}
                                
			</div>
		</div>
		<div class="col-md-9">
			<div class="row">
				{% for entity in entities %}
					{% include "VMBPresentationBundle:Presentation:presentationVignette.html.twig" with {'entity' : entity} %}
				{% else %}
					<div class="col-md-12 text-center">
						<em>{{ 'browse.no_presentation'|trans }}</em>
						<br/><br/>
					</div>
				{% endfor %}
			</div>
			{% if skipPagination is not defined %}
			{% include '::pagination.html.twig' %}
			{% endif %}
		</div>
    </div>  
    <br/>
    
    {% include 'VMBPresentationBundle:Presentation:modalAddButton.html.twig' %}
{% endblock %}
{% block script %}
	{{ parent() }}
	<script>
		$(function() {
			if($('.collapse.in').length) {
				currentElt = $('.collapse.in');
				while($(currentElt).attr('data-level') != "0") {
					currentElt = $(currentElt).parent().closest('.collapse');
					currentElt.addClass('in');
					var id = $(currentElt).attr("id").split("collapseListGroup")[1];
					$('a[href="#collapseListGroup'+id+'"] > span')
					.removeClass('glyphicon-chevron-right')
					.addClass('glyphicon-chevron-down')
				}
			}
			var group_ids = [];
			{% for e in topics if e.__children is not empty %}
			group_ids.push({{e.id}});
			{% endfor %}
			$.each(group_ids, function(i, v){		
				var c = $('#collapseListGroup'+v);
				c.on('shown.bs.collapse', function(){
					$('a[aria-expanded="true"] > span')
					.removeClass('glyphicon-chevron-right')
					.addClass('glyphicon-chevron-down');
				});
				c.on('hidden.bs.collapse', function(){
					$('a[aria-expanded="false"] > span')
					.removeClass('glyphicon-chevron-down')
					.addClass('glyphicon-chevron-right');			
				});
			});
		});
	</script>
	{% include '::addToCaddy.html.twig' %}
{% endblock %}